body {
    background-color: rgb(255, 255, 255);
}

#header_section h1 {

    color: rgb(7, 7, 7);
    /*
    outline: 10px solid black; */
    
}

body {
    font-family: Arial, sans-serif;
    margin: 2;
    padding: 2; 
}

.top-bar{
    background-color: #333;
    overflow: hidden;
}

.top-bar ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top-bar ul li {

    display: inline;

}

.top-bar ul li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;

}

.top-bar ul li a:hover {
    background-color: #add;
    color: black;
}